* {
    color: #10110f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkolivegreen;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    padding: 5vh 0;
    min-height: 90vh;
    max-height: 90vh;
    width: 100%;
}

.search-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 20rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#search-location {
    background-color: #5a8b04;
    height: 1.5rem;
    border-style: solid;
    border-color: #0d1401;
    border-width: 1px;
    outline: none;
    border-radius: 5px;
}

#submit-btn {
    border-style: none;
    border-radius: 5px;
    padding: 0.2rem 0;
    color: #5a8b04;
    background-color: #10110f; 
    transition-duration: 300ms;   
}

#submit-btn:hover {
    background-color: #5a8b04;
    cursor: pointer;
    color: #10110f;
}

.location {
    font-style: oblique;
    font-weight: bold;
    font-size: 1.5rem;
    color: #10110f;
    margin-top: 1rem;
}

.weather-container {
    display: flex;
    width: 96%;
}

.current-weather-container {
    width: 32%;
}

.period {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    width: 100%;
}

.current-weather {
    align-items: center;
    display: flex;
    border-style: solid;
    border-color: #10110f;
    border-width: 1px;
    border-radius: 5px;
    height: 14rem;
    padding: 1rem 1rem;
    min-width: 23rem;
    max-width: 23rem;
}

.weather-update {
    border-width: 1px;
    border-style: dashed;
    border-color: #10110f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.days {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #10110f;
    font-style: oblique;
    font-weight: bold;
    font-size: 1.2rem;
    color: #10110f;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.time {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #10110f;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.temp {
    display: flex;
    justify-content: space-around;
    font-style: oblique;
    font-weight: bold;
    color: #10110f;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.weather-icon {
    padding: 5px 0;
    width: 4rem;
}

.weather-msg {
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.data-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    width: 60%; 
}

.other-condition-container {
    display: flex;
    gap: 0.5rem;
    margin-left: 10%;
    width: 90%;
}

.condition-icon {
    width: 1rem;
}

.forecast-weather-container {
    width: 68%;
}

.hourly-forecast {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 0.5rem;
    width: 100%;
}

.forecast-weather {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    border-style: solid;
    border-color: #10110f;
    border-width: 1px;
    border-radius: 5px;
    height: 14rem;
    min-width: 14rem;
    max-width: 14rem;
}

.box-shadow {
    box-shadow: 0 0 10px 4px #27301e;
}






@media (max-width: 600px) {

    * {
        font-size: 0.9rem;
    }

    body {
        justify-content: start;
        gap: 5vh;
    }

    .search-area {
        margin-top: 1rem;
    }

    .weather-container {
        flex-direction: column;
        gap: 1rem;
    }

    .current-weather-container {
        width: 100%;
    }

    .current-weather {
        height: 12rem;
        margin: 0 auto;
        min-width: 21rem;
        max-width: 21rem;
    }

    .forecast-weather-container {
        width: 100%;
    }

    .forecast-weather {
        height: 12rem;
        min-width: 12rem;
        max-width: 12rem;
    }
}